.container{
    height: 52px;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray ;
    gap: 20px;
}
.container > div {
    padding: 2px 20px 1px 20px ;
    /* border: 1px solid; */

}


.dropdown {
    position: absolute;
    color: #333333;
    background-color: white;
    padding: 1% 1% 1% 1%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-family: MyFont;  
    box-sizing: border-box;
    text-align: left;
  }
  .dropdown > div > p {
    /* border: 1px solid; */
    color: #f43397;
    font-weight: 600;
   
  }
  .dropdown > div{
    padding-right: 20px;

  }
  .dropdown > div > div > p{
    cursor: pointer;
  }
  .dropdown > div > div :hover{
    /* background-color: rgb(192, 219, 241); */
    color: #000000;
   font-size: 17px;
  }