*{
    box-sizing: border-box;
}
.containerAds{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(1, 1fr); */
    background-color: cadetblue;
    margin-left: 20rem;
    margin-right: 20rem;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1050px) {
    
    .containerAds{
        flex-direction: row;
        /* grid-template-columns: repeat(2, 1fr); */
    }
  }

  @media screen and (max-width: 500px) {
   

  }
  /* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }