@font-face {
    font-family: MyFont ;
    src: url(../../Img/MierA-Book.ttf);
}
*{
    font-size: 18px;
}
.navbarContianerOuter{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: MyFont;
    background-color: #ffffff;
    box-shadow: none;
}

/* leftNav */
.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.logo{
    height: 65px;
    width: 100%
    /* border: 1px solid; */
}

/* .search{
    display: flex;
    align-items: center;
    border: 1px solid #999999;
    border-radius: 5px;
    color: #a09c9c;
}
.SearchIcon{
    width: 30px;  
}

.searchbar{
    height: 45px;
    text-align: left;
    border: none;
    cursor: text;
    font-size: 16px;
    color: #a09c9c;
} */



.right{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #585656;
}
.downloadApp{
    height: 72px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 24px 0 24px;
    font-family: MyFont;
    cursor: pointer;

}

.mobilelogo{
    height: 20px;
    width: auto;
}

.blank{
    height: 40px;
    width: 2px;
    display: block;
    background-color: #DFDFDF;
    color: #000000;
}
.NavNames{
    color: #333333;
    height: 20px;
    width: auto;
    text-decoration: none;
}
.profile{
    font-family: MyFont;
    height: 60px;
    text-align: center;
    padding:0 20px 0 20px;
    cursor: pointer;
    list-style-type: none;

}
.NavProfileCart{
    display: flex;
    align-items: center;
    font-family: MyFont;  
}

.cart{
    list-style-type: none;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 20px; 
}
.namesTwo{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333333;
    /* border: 1px solid; */
}

.dropdown1 {
    position: relative;
    display: grid;
    gap: 10px 30px;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    color: #333333;
    background-color: white;
    padding: 10% 10% 10% 10%;
    top: 190%;
    right: 80%;
    font-size: 12px;
    
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      /* border: 1px solid; */
  }
  .dropdown {
    position: absolute;
    text-align: left;
    color: #333333;
    background-color: white;
    padding: 1% 1% 1% 1%;
    top: 100%;
    line-height: 15px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-family: MyFont;  
    box-sizing: border-box;
  }
  .dropdown > h1:hover {
    background-color: #bbe3f5;
  }
  .dropdown > *{
    height: 100%;
    width: 100%;
    /* border: 1px solid; */

}

.NavSigUpButton{
    background-color: #f43397;
    height: 48px;
    width: 100%;
    margin: 0 0 10px 0;
}